{% extends 'base.html' %}

{% block content %}
<h1>Learn Different Encryption Algorithms!</h1>
<p>
    This website lets you learn how to encrypt and decrypt different ciphers, test ciphers with text or files,
    inspect algorithm notes, and compare execution time across runs.
</p>

<h3>What you can do:</h3>
<ul>
    <li>Encrypt or decrypt text directly</li>
    <li>Upload variuos files to encrypt or decrypt (3DES, AES, and RSA).</li>
    <li>Import key values from files where supported</li>
    <li>Choose output mode- view on the page or download as a file</li>
    <li>Track runtime for successful runs to compare performance</li>
</ul>

<h3>Choose an algorithm</h3>
<ul>
    <li><a href="/vigenere">Vigenère</a></li>
    <li><a href="/des">3DES</a></li>
    <li><a href="/aes">AES</a></li>
    <li><a href="/rsa">RSA</a></li>
</ul>

{% endblock %}
