<!-- templates/navbar.html -->
<nav class="navbar">
    <ul>
        <li><a href="/" class="{% if current=='home' %}current{% endif %}">Home</a></li>
        <li><a href="/vigenere" class="{% if current=='vigenere' %}current{% endif %}">Vigenère</a></li>
        <li><a href="/des" class="{% if current=='des' %}current{% endif %}">3DES</a></li>
        <li><a href="/aes" class="{% if current=='aes' %}current{% endif %}">AES</a></li>
        <li><a href="/rsa" class="{% if current=='rsa' %}current{% endif %}">RSA</a></li>
    </ul>
</nav>